## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Lisakovsk,KZ,52.5369,62.4936,41.77,71,100,12.10,overcast clouds
1,1,Kapaa,US,22.0752,-159.3190,80.58,85,20,16.11,few clouds
2,2,Jamestown,US,42.0970,-79.2353,35.19,49,100,11.50,overcast clouds
3,3,Chake Chake,TZ,-5.2459,39.7666,79.14,73,12,6.08,few clouds
4,4,Bumba,CD,2.1833,22.4667,70.18,96,98,3.80,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature criterion for your vacation?"))
max_temp = float(input("What is the maximum temperature criterion for your vacation?"))

What is the minimum temperature criterion for your vacation?60
What is the maximum temperature criterion for your vacation?95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
temp_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & \
                                      (city_data_df["Max Temp"] <= max_temp)]
temp_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Kapaa,US,22.0752,-159.3190,80.58,85,20,16.11,few clouds
3,3,Chake Chake,TZ,-5.2459,39.7666,79.14,73,12,6.08,few clouds
4,4,Bumba,CD,2.1833,22.4667,70.18,96,98,3.80,light rain
5,5,Pedasi,PA,7.5333,-80.0333,78.06,84,100,15.46,overcast clouds
6,6,Bathsheba,BB,13.2167,-59.5167,79.41,73,40,20.71,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
temp_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = temp_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
3,Chake Chake,TZ,79.14,few clouds,-5.2459,39.7666,
4,Bumba,CD,70.18,light rain,2.1833,22.4667,
5,Pedasi,PA,78.06,overcast clouds,7.5333,-80.0333,
6,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,
7,Nabire,ID,84.67,scattered clouds,-3.3667,135.4833,
8,Busselton,AU,63.39,light rain,-33.6500,115.3333,
11,Cape Town,ZA,62.89,clear sky,-33.9258,18.4232,
12,Shima,CN,80.62,clear sky,24.4478,117.8111,
13,Port Alfred,ZA,62.19,light rain,-33.5906,26.8910,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Chake Chake,TZ,79.14,few clouds,-5.2459,39.7666,Hotel Archipelago
4,Bumba,CD,70.18,light rain,2.1833,22.4667,Père Carlos
5,Pedasi,PA,78.06,overcast clouds,7.5333,-80.0333,Selina Pedasi
6,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...,...
695,Araguaina,BR,73.65,broken clouds,-7.1911,-48.2072,Hotel São Vicente
697,Atar,MR,73.35,clear sky,20.5169,-13.0499,Oumou Elghoura
701,Birjand,IR,68.47,sand,32.8663,59.2211,Birjand Tourist Hotel
703,Dinghai,CN,77.92,clear sky,26.2847,119.7936,Shanhai Hotel
705,Wagar,SD,81.10,clear sky,16.1525,36.2032,

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!="")]
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Chake Chake,TZ,79.14,few clouds,-5.2459,39.7666,Hotel Archipelago
4,Bumba,CD,70.18,light rain,2.1833,22.4667,Père Carlos
5,Pedasi,PA,78.06,overcast clouds,7.5333,-80.0333,Selina Pedasi
6,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...,...
694,Saint-Pierre,RE,78.48,overcast clouds,-21.3393,55.4781,Lindsey Hôtel
695,Araguaina,BR,73.65,broken clouds,-7.1911,-48.2072,Hotel São Vicente
697,Atar,MR,73.35,clear sky,20.5169,-13.0499,Oumou Elghoura
701,Birjand,IR,68.47,sand,32.8663,59.2211,Birjand Tourist Hotel
703,Dinghai,CN,77.92,clear sky,26.2847,119.7936,Shanhai Hotel

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))